*{
    font-family: 'Times New Roman', Times, serif;
}
.container {
    max-width: 960px;
    background-color: #f4f2ef;
    border-radius: 10px;
    padding: 15px;
}
body {
    background-color: #bc66ae;
    line-height: 1.6;
}
header {
    background-color: #49002c;
    padding: 30px;
    color:#f4f2ef;
    font-size: 20px;
}
.nav-link:hover {
    color: #c1121f;
}
ul li {
    margin-bottom: 8px;
}
ul li a {
    font-size: large;
    color:black;
    text-decoration: none;
}
ul li a:hover {
    color:#c1121f;
}
#table{
    border-collapse: collapse;
    width: 100%;
    height: 250px;
    margin: 20px 0;
}
#table th{
    border: 1px solid black;
    background-color: #490035c2;
    color:white;
}
#table td, #table th {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}
#table tr:nth-child(even) {
    background-color: #bc66ae;
}
#table tr:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}
footer {
    background-color: #49002c;
}
footer p {
    color: #f4f2ef;
}